<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 数据源c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 驱动 -->
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<!-- url连接 -->
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<!-- 用户名 -->
		<property name="user" value="system" />
		<!-- 密码 -->
		<property name="password" value="123456" />
		<!-- 连接池的最大连接数 -->
		<property name="maxPoolSize" value="40" />
		<!-- 连接池的最小连接数 -->
		<property name="minPoolSize" value="1" />
		<!-- 初始化连接数 -->
		<property name="initialPoolSize" value="1" />
		<!-- 连接最大空闲时间、超过的连接将被丢弃 单位: 秒 -->
		<property name="maxIdleTime" value="60" />
		<!-- 没有连接可用时,等待连接的时间  单位: 毫秒 -->
		<property name="checkoutTimeout" value="2000" />
	</bean>
	
	<!-- 创建SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 加载hibernate.cfg.xml -->
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	
	<!-- 配置事务 -->
	<bean id="txtManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置事务属性 -->
	<tx:advice id="txtAdvice" transaction-manager="txtManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="REQUIRED" />
			<tx:method name="query*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="NESTED" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 定义切面 -->
	<aop:config>
		<!-- 定义切入点 -->
		<aop:pointcut id="bizMethod" 
		expression="execution(* cn.jbit.Book.biz.impl.BookBizImpl.*(..))" />
		<!-- 将事务增强与切入点组合 -->
		<aop:advisor advice-ref="txtAdvice" pointcut-ref="bizMethod"/>
	</aop:config>	
	
	<!-- 数据层 -->
	<bean id="bookdao" class="cn.jbit.Book.dao.impl.BookDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 业务层 -->
	<bean id="bookbiz" class="cn.jbit.Book.biz.impl.BookBizImpl">
		<property name="bdao" ref="bookdao" />
	</bean>
	<!-- 业务控制器 -->
	<bean id="addAction" class="cn.jbit.Book.action.AddAction">
		<property name="bbiz" ref="bookbiz" />
	</bean>
</beans>